
.body{
    background: #F6F6F6; 
}

.header{
    padding-top: 57px;
}

.header_container{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.header_list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header_link{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #4F5665;
    margin-right: 40px;
}


.enter{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content:center;
}

.signIn{
    font-family: Rubik;
    font-style: normal;
    width: 53px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0B132A;
    margin-right: 30px;
}

.signUp{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F53855;
    border: 1px solid #F53855;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 50px;
    width: 150px;
    height: 45px;
}

.intro{
    padding-top: 88px;
    padding-bottom: 103px;
}

.intro_container{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    flex:1;
}

.intro_text{
    padding-right: 40px;
}

.intro_title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
}

.intro_subtitle{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.intro_button{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    border-color: transparent;
    box-shadow:0 30px 50px rgba(245, 56, 56, 0.35);
}

.illustration-pic{
    height: auto;
    width: 100%;
}

.advantages{
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:70%;
    padding-top: 34px;
    padding-bottom: 34px;
    box-shadow: 0 50px 50px #F6F6F6;
}

.users,.locations,.servers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.users_logo,.locations_logo,.servers_logo{
    margin-right: 36.5px;
}

.users_amount,.locations_amount,.servers_amount{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}

.users_users,.locations_locations,.servers_servers{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}



.features_container{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    margin-top: 95px;
    margin-bottom: 130px;
}

.features_text{
    width: 30%;
}

.features_items{
    padding-inline-start: 30px;
}

.features_item{
    list-style-image: url(./img/check.svg);
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    margin-left: 0;
}

.features_title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin-bottom: 20px;
}

.features_subtitle{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 20px;
}
.features_link{
    text-decoration: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    margin-left: 12px;
}

.choose_plan{
    background: #F6F6F6;
}

.choose_container{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

.choose_title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin-bottom: 20px;
}

.choose_subtitle{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.plans{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 75px;
}

.free_plan,.standard_plan,.premium_plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 80px;
    padding-bottom: 50px;
    width: 330px;
    height: 760px;
    margin-right: 30px;
}

.free_plan:hover,.standard_plan:hover,.premium_plan:hover{
    background: #FFFFFF;
    border: 2px solid #F53838;
    box-sizing: border-box;
    border-radius: 10px;
}

.free_title,.standard_title,.premium_title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    margin-top:30px;
    margin-bottom: 30px;
}

.free_list,.standard_list,.premium_list{
    margin-top: 0;
}
.free_item,.standard_item,.premium_item{
    list-style-image: url(/img/check1.svg);
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.free_price,.standard_price,.premium_price{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}

.select_plan{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #F53838;
    width: 177.88px;
    height: 45px;
    border: 2px solid #F53838;
    box-sizing: border-box;
    border-radius: 50px;
    background: #FFFFFF;
}

.select_plan:hover{
    color: #FFFFFF;
    background: #F53838;
    border-radius: 50px;
}

.free_price{
    padding-top: 130px;
}

.standard_price{
    padding-top: 90px;
}

.premium_price{
    padding-top: 50px;
}


.location_container{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top:90px;
    padding-bottom: 90px;
}

.location_title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin-bottom: 20px;
}

.location_subtitle{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.placement{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-pic,.placement-pic{
    width: 70%;
    height: auto;
}   

.subscribe{
    padding-bottom: 70px;
}

.subscribe_block{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    background: #FFFFFF;
    border-radius: 10px;
    padding-top: 46.5px;
    padding-bottom: 46.5px;
    box-shadow: 0 20px 50px #F6F6F6;
}

.subscribe_title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #0B132A;
    width: 55%;
    margin-top: 0;
    margin-bottom: 0;
}

.subscribe_subtitle{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #4F5665;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
}

.sub_button{
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    border-color: transparent;
}

.footer{
    background: #F8F8F8;
    padding-top: 70px;
    padding-bottom: 100px;
}

.footer_components{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.footer_intro{
    width: 30%;
}

.footer_text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 30px;

}

.privacy{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;
    margin-top: 0;
    margin-bottom: 0;
}

.footer_lists{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.product_item,.engage_item,.ern_item{
    padding-bottom: 10px;
}

.product_title,.engage_title,.ern_title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    margin-top: 0;
    margin-bottom: 0;
}

.product_list,.engage_list,.ern_list{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    list-style-type: none;
    padding-top: 20px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width:1160px) {
    .header_link{
        margin-right: 25px;
    }
    .intro_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .intro_text{
        padding-right: 0;
        text-align: center;
    }

    .button_start{
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }
    .location_container{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer_components{
        width: 90%;
    }
}

@media screen and (max-width:1024px) {
    .header_link{
        margin-right: 15px;
    }
    .signIn{
        margin-right: 15px;
    }
    .header_list{
        padding-left:10px;
    }
    .signUp{
        width: 100px;
    }
    .users_amount,.locations_amount,.servers_amount{
        font-size: 18px;
        line-height: 24px;
    }
    
    .users_users,.locations_locations,.servers_servers{
        font-size: 14px;
        line-height: 24px;
    }
    .users_logo,.locations_logo,.servers_logo{
        margin-right: 25px;
    }

    .free_plan,.standard_plan,.premium_plan{
    margin-right: 10px;
    }

    .subscribe_title{
        font-size: 24px;
        line-height: 30px;
        width: 100%;
    }

    .subscribe_subtitle{
        font-size: 14px;
        line-height: 24px;
    }
    .subscribe_text{
        padding-right: 20px;
    }

    .footer_intro{
        width: 40%;
    }
}

@media screen and (max-width:800px) {
    .header_list{
        display: none;
    }
    .intro{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .intro_title{
        font-size: 32px;
        line-height: 38px;
    }
    .advantages{
        width: 90%;
    }
    .users_amount,.locations_amount,.servers_amount{
        font-size: 16px;
        line-height: 20px;
    }
    
    .users_users,.locations_locations,.servers_servers{
        font-size: 12px;
        line-height: 20px;
    }

    .users_logo,.locations_logo,.servers_logo{
        margin-right: 15px;
    }

    .features_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .features_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    .features_title,.features_subtitle{
        text-align: center;
    }
    .choose_container{
        padding-top: 20px;
        padding-bottom: 0;
    }

    .plans{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .free_plan,.standard_plan,.premium_plan{
        margin-right: 0;
        margin-bottom: 20px;
        
    }
    .sub_button{
        width: 150px;
        height: 45px;
        font-size: 12px;
        line-height: 20px;
    }
    .footer{
        padding-top:30px;
        padding-bottom: 30px;
    }
    .links{
        width: 60px;
        height: 60px;
    }
    .footer_lists{
        flex-wrap: wrap;
    }
    .footer_product,.footer_engage,.footer_ern{
        padding-right: 20px;
    }
}


@media screen and (max-width:620px) {
    .header_logo{
        margin-right: 20px;
    }
    .location_container{
        width: 70%;
    }
    .subscribe_title{
        font-size: 16px;
        line-height: 22px;
        width: 100%;
    }
    .subscribe_subtitle{
        font-size: 10px;
        line-height: 18px;
    }
    .sub_button{
        width: 120px;
        height: 40px;
        font-size: 12px;
        line-height: 20px;
    }

    .links{
        width: 42px;
        height: 42px;
    }
    .footer_intro{
        width: 50%;
        padding-right: 20px;
    }
    .footer_lists{
        width: 50%;
    }
    .footer_product,.footer_engage,.footer_ern{
        padding-right: 10px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:530px) {
    .footer_lists{
        width: 40%;
    }
}


